.card{
    margin-top: 100px;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

.wrapper{
    padding: 20px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.438);
}

.text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    display: flex;
    flex-direction: column;
}

.text button{
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 10px 80px;
    border: none;
    border-radius: 8px;
    background: #0f0f14;
    color: #fff;
    transition: all 0.5s ease;
    cursor: pointer;
}

.text button:hover{
    background: #0b0b0f;
}

@media (min-width: 500px){
    .wrapper{
        display: flex;
        flex-direction: column-reverse;
        gap: 50px;
    }

    .text{
        max-width: 500px;
    }

    .text{
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 900px){
    .wrapper{
        display: flex;
        flex-direction: row;
        gap: 100px;
    }

    .text{
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 300px;
    }
}